@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn {
  padding: 16px 25px;
  color: #ffffff;
  background-color: #52c303;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #45a700;
  transform: scale(1.01);
}

#hero {
  background-image: linear-gradient(
      0deg,
      rgb(9, 9, 9) 3.482%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 810px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

#hero .hero-subtitle {
  font-weight: 600;
  font-size: 23px;
  line-height: 35px;
  opacity: 0.8;
}

#hero .hero-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin: 12px 0 19px;
}

#hero .hero-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
  margin-bottom: 25px;
}

#menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

#menu-items .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  color: rgb(16, 16, 16);
  padding: 10px;
}

.menu-title {
  text-align: center;
  letter-spacing: 0%;
}

.menu-title p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.6;
}

.menu-title h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 58px;
  margin: 30px 0 35px;
}

.menu-items-list {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.menu-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image {
  width: 100%;
}

.item-image img {
  width: 100%;
  border-radius: 8px;
}

.item-name {
  border-radius: 8px;
  background: #52c30326;
  margin-top: 24px;
}

.item-name p {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 10px 25px;
}

.item-price {
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
  margin: 18px 0;
}

.item-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  opacity: 0.7;
}

#about {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 100px;
}

.food-image {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.food-image img {
  width: 100%;
  object-fit: cover;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

#about .about-heading h3 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 30px;
}

#about .about-heading p {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.6;
}

#about .about-heading h5 {
  font-size: 26px;
  font-weight: 600;
  opacity: 0.7;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  padding: 15px 0;
  margin: 35px 0 25px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}
